In [2]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [3]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('cork_property_prices*.csv')], ignore_index = True)
df = df.drop_duplicates(subset='listing_id', keep='first') # Dedup on listing_id and keep first record.
# Clean data
df['cost'] = df['cost'].str.replace(",","") # Remove commas in cost column
df = df[(df.cost.str.isnumeric() == True)] # Remove rows with alpha characters
df['cost'] = pd.to_numeric(df['cost'])
df['cost'] = df['cost']/1000 # In K units

# Create an ordinal equivalent of BER
df['ber'] = pd.Categorical(df['ber'])
df['ber_ord'] = df.ber.cat.codes

# 1-hot the categoricals
loc_cat = pd.get_dummies(df.location, prefix = 'loc')
type_cat = pd.get_dummies(df.property_type, prefix = 'typ')
#df = pd.concat([df,y], axis=1)
df = pd.concat([df,loc_cat,type_cat], axis=1)
df.shape
df

,listing_id,location,address,beds,bathrooms,cost,num_pics,property_type,ber,ber_ord,...,loc_douglas,loc_glasheen,loc_grange,loc_model-farm-road,loc_wilton,typ_Detached House,typ_End of Terrace House,typ_Semi-Detached House,typ_Terraced House,typ_Townhouse
0,2549894,douglas,Kincora| South Douglas Road| Douglas| Co. Cork,3,1,259.0,24,Semi-Detached House,NaN,-1,...,1,0,0,0,0,0,0,1,0,0
1,2255069,douglas,Denmead| 38 Hettyfield Park| Douglas| Co. Cork,4,4,795.0,23,Detached House,D1,8,...,1,0,0,0,0,1,0,0,0,0
2,2217312,douglas,80 Yewlands| Maryborough Woods| Douglas| Co. Cork,3,3,310.0,8,Terraced House,C1,5,...,1,0,0,0,0,0,0,0,1,0
3,2548380,douglas,115 Greenhills Court| South Douglas Road| Doug...,3,2,245.0,33,Terraced House,C3,7,...,1,0,0,0,0,0,0,0,1,0
4,2255031,douglas,10 Springbrook| Donnybrook| Douglas| Co. Cork,3,3,249.0,16,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
5,2154356,douglas,Clogheen| Hettyfield Park| Douglas| Co. Cork,5,4,725.0,33,Detached House,D1,8,...,1,0,0,0,0,1,0,0,0,0
6,2069030,douglas,8 Lislee Road| Maryborough Estate| Douglas| Co...,4,2,489.0,12,Detached House,D2,9,...,1,0,0,0,0,1,0,0,0,0
7,2125026,douglas,Emeralda| 12 Ballincurrig Park| Douglas| Co. Cork,4,1,425.0,18,Semi-Detached House,D2,9,...,1,0,0,0,0,0,0,1,0,0
8,2526196,douglas,10 Rathmore Lawn| Douglas| Co. Cork,3,1,375.0,10,Semi-Detached House,E1,10,...,1,0,0,0,0,0,0,1,0,0
9,2563871,douglas,16 Inchvale Close| Shamrock Lawn| Douglas| Co....,3,1,240.0,14,Semi-Detached House,_G,13,...,1,0,0,0,0,0,0,1,0,0
10,2562363,douglas,Glenville| Cross| Douglas| Co. Cork,4,4,795.0,19,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
11,2562256,douglas,7 Ardfield Meadows| Grange| Douglas| Co. Cork,3,3,289.0,13,Semi-Detached House,C2,6,...,1,0,0,0,0,0,0,1,0,0
13,2553991,douglas,7 Tramore Lawn| Douglas| Co. Cork,4,1,385.0,16,Semi-Detached House,_G,13,...,1,0,0,0,0,0,0,1,0,0
14,2552907,douglas,2 Willsbrook| Maryborough Hill| Douglas| Co. Cork,4,4,300.0,11,Detached House,C2,6,...,1,0,0,0,0,1,0,0,0,0
15,2549821,douglas,70 Welwyn Road| Maryborough Woods| Douglas| Co...,3,3,289.0,11,Semi-Detached House,C2,6,...,1,0,0,0,0,0,0,1,0,0
16,2549333,douglas,Apartment 1| 7 Vernon View| Douglas| Co. Cork,4,4,195.0,1,Terraced House,E2,11,...,1,0,0,0,0,0,0,0,1,0
17,2549329,douglas,Apartment 1| 6 Vernon View| Douglas| Co. Cork,4,4,295.0,1,Terraced House,E2,11,...,1,0,0,0,0,0,0,0,1,0
18,2544396,douglas,57 An Radharc| Maryborough Ridge| Douglas| Co....,3,3,335.0,23,Terraced House,B2,3,...,1,0,0,0,0,0,0,0,1,0
19,2540071,douglas,Saint Anthony's| 45 Grange Park| Douglas| Co. ...,2,1,195.0,12,Semi-Detached House,_F,12,...,1,0,0,0,0,0,0,1,0,0
20,2535370,douglas,11 Douglas Hall Lawn| Well Road| Douglas| Co. ...,4,2,390.0,10,Semi-Detached House,C3,7,...,1,0,0,0,0,0,0,1,0,0
22,2525283,douglas,154 Curragh Woods| Frankfield| Douglas| Co. Cork,3,3,260.0,20,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
23,2346422,douglas,32 Ardfield Grove| Grange| Douglas| Co. Cork,4,4,339.0,7,Semi-Detached House,C1,5,...,1,0,0,0,0,0,0,1,0,0
24,2162034,douglas,No 1 Elmbank| Douglas Road| Douglas| Co. Cork,6,3,575.0,24,Terraced House,C2,6,...,1,0,0,0,0,0,0,0,1,0
25,2371257,douglas,25 Alden Grove| Douglas| Co. Cork,3,3,295.0,31,Detached House,D2,9,...,1,0,0,0,0,1,0,0,0,0
26,2499444,douglas,8 Ardfield View| Grange| Douglas| Co. Cork,3,3,275.0,19,End of Terrace House,NaN,-1,...,1,0,0,0,0,0,1,0,0,0
27,2495035,douglas,35 Alderwood| South Douglas Road| Douglas| Co....,3,1,275.0,22,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
28,2451964,douglas,Igls| Maryborough Hill| Douglas| Co. Cork,5,6,900.0,17,Detached House,C3,7,...,1,0,0,0,0,1,0,0,0,0
29,2445459,douglas,1 Alderwood| South Douglas Road| Douglas| Co. ...,3,1,270.0,18,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
31,2434271,douglas,11 Spring Road| Riverway| South| Douglas| Co. ...,3,2,275.0,28,Semi-Detached House,D1,8,...,1,0,0,0,0,0,0,1,0,0
32,2425069,douglas,18 Augusta Drive| Maryborough Hill| Douglas| C...,5,4,725.0,22,Detached House,B3,4,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2578874,douglas,35 Grange Vale| Pinecroft| Douglas| Co. Cork,3,1,250.0,48,Semi-Detached House,D2,9,...,1,0,0,0,0,0,0,1,0,0
425,2588167,douglas,9 The Green| Greenvalley| Donnybrook| Cork| Do...,3,2,295.0,18,Semi-Detached House,C1,5,...,1,0,0,0,0,0,0,1,0,0
426,2583721,douglas,Derryquin| 12 Maryborough Hill| Douglas| Co. Cork,4,2,565.0,16,Detached House,D1,8,...,1,0,0,0,0,1,0,0,0,0
427,2580799,douglas,25 Welwyn Road| Maryborough Woods| Douglas| Co...,3,3,280.0,28,End of Terrace House,C1,5,...,1,0,0,0,0,0,1,0,0,0
470,1983542,douglas,Dromard| Willsfort| Cooney's Lane| Douglas| Co...,4,3,625.0,20,Detached House,C2,6,...,1,0,0,0,0,1,0,0,0,0
474,2489588,ballincollig,202 Rosewood| Ballincollig| Co. Cork,3,2,320.0,14,Detached House,_F,12,...,0,0,0,0,0,1,0,0,0,0
475,2590281,ballincollig,36 Aylsbury| Ballincollig| Co. Cork,4,2,340.0,22,Detached House,C1,5,...,0,0,0,0,0,1,0,0,0,0
476,2588094,ballincollig,21 Greystones| Ballincollig| Co. Cork,3,2,249.5,12,Semi-Detached House,NaN,-1,...,0,0,0,0,0,0,0,1,0,0
481,2589743,ballincollig,Dev-Air| 47 Church View| Ballincollig| Co. Cork,3,1,260.0,17,Semi-Detached House,C3,7,...,0,0,0,0,0,0,0,1,0,0
482,2581069,ballincollig,27 Cranford Pines| Ballincollig| Co. Cork,4,2,295.0,22,Detached House,C3,7,...,0,0,0,0,0,1,0,0,0,0
483,2579359,ballincollig,12 Highfield Avenue| Highfield Park| Ballincol...,4,4,310.0,17,Terraced House,NaN,-1,...,0,0,0,0,0,0,0,0,1,0
484,2578603,ballincollig,2 Church View| Ballincollig| Co. Cork,3,1,285.0,16,Semi-Detached House,NaN,-1,...,0,0,0,0,0,0,0,1,0,0
485,2577609,ballincollig,70 Millers Court| Old Quarter| Ballincollig| C...,4,2,420.0,28,Semi-Detached House,A3,1,...,0,0,0,0,0,0,0,1,0,0
486,2571509,ballincollig,Station Road| Ballincollig| Co. Cork,4,1,250.0,13,Detached House,NaN,-1,...,0,0,0,0,0,1,0,0,0,0
511,2588060,carrigaline,10 Bellflower Close| Forest Hill| Carrigaline|...,3,3,310.0,26,Semi-Detached House,B1,2,...,0,0,0,0,0,0,0,1,0,0
512,2578923,carrigaline,3 Highbury Gardens| Waterpark| Carrigaline| Co...,3,2,265.0,16,Semi-Detached House,C1,5,...,0,0,0,0,0,0,0,1,0,0
513,2573890,carrigaline,69 Rockboro Heights| Waterpark| Carrigaline| C...,3,2,260.0,23,Semi-Detached House,B3,4,...,0,0,0,0,0,0,0,1,0,0
514,2573753,carrigaline,Elm Court| Ballynametagh| Carrigaline| Co. Cork,5,3,595.0,40,Detached House,E1,10,...,0,0,0,0,0,1,0,0,0,0
554,2584779,bishopstown,4 Dunville Estate| Waterfall Road| Bishopstown...,4,2,540.0,28,Detached House,NaN,-1,...,0,0,0,0,0,1,0,0,0,0
557,2112503,bishopstown,22| Firgrove Drive| Bishopstown| Co. Cork,6,2,450.0,12,Semi-Detached House,NaN,-1,...,0,0,0,0,0,0,0,1,0,0
558,2112502,bishopstown,No 1| Dunville Drive| Bishopstown| Co. Cork,4,1,480.0,18,Detached House,NaN,-1,...,0,0,0,0,0,1,0,0,0,0
579,2587707,glasheen,2 Highfield| Magazine Road| Glasheen| Co. Cork,4,1,265.0,15,Terraced House,_G,13,...,0,1,0,0,0,0,0,0,1,0
580,2583964,glasheen,Paradiso| 4 Wilton Lawn| Glasheen| Co. Cork,3,3,395.0,17,Semi-Detached House,B2,3,...,0,1,0,0,0,0,0,1,0,0
581,2576714,glasheen,5 Clashduv Place| Glasheen Road| Glasheen| Co....,2,1,295.0,41,Detached House,NaN,-1,...,0,1,0,0,0,1,0,0,0,0
593,2581573,blackrock,32 McGrath Park| Blackrock| Blackrock| Co. Cork,3,2,315.0,24,Semi-Detached House,C2,6,...,0,0,0,0,0,0,0,1,0,0
594,2580023,blackrock,3 Blackrock Crescent| Eden| Blackrock| Co. Cork,4,4,435.0,13,Semi-Detached House,A2,0,...,0,0,0,0,0,0,0,1,0,0
614,2584905,wilton,Saint Brigids| 40 Wilton Road| Wilton| Co. Cork,3,2,355.0,14,Semi-Detached House,NaN,-1,...,0,0,0,0,1,0,0,1,0,0
615,2576532,wilton,101 Woodview| Elm Park| Wilton| Co. Cork,3,1,220.0,10,Terraced House,NaN,-1,...,0,0,0,0,1,0,0,0,1,0
619,2590280,model-farm-road,Lizlee| Model Farm Road| Co. Cork,5,3,460.0,14,Detached House,D1,8,...,0,0,0,1,0,1,0,0,0,0
620,2581144,model-farm-road,14 Rosefield| Model Farm Road| Model Farm Road...,4,4,682.5,30,Detached House,NaN,-1,...,0,0,0,1,0,1,0,0,0,0

In [6]:
# 75:25 train:test split.
from sklearn.model_selection import train_test_split
# df = df.drop(['listing_id','location','address','property_type','ber'], axis=1)
train, test = train_test_split(df, test_size=0.2)
x = train.drop(['listing_id','location','address','property_type','ber','cost'], axis=1)
y = train.cost

In [17]:
import xgboost as xgb
xgr = xgb.XGBRegressor(random_state=42, n_jobs=8,booster='gblinear')
xgr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.5, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=8, num_parallel_tree=None,
             objective='reg:squarederror', random_state=42, reg_alpha=0,
             reg_lambda=0, scale_pos_weight=1, subsample=None, tree_method=None,
             validate_parameters=1, verbosity=None)

In [18]:
xgb.plot_importance(xgr)

ValueError: Feature importance is not defined for Booster type gblinear

In [22]:
#dir(xgr)
#print(xgr.coef_)
print(list(zip(xgr.coef_, x.columns.values)))
#list(x.columns.values)

[(57.4778, 'beds'), (43.099, 'bathrooms'), (1.44054, 'num_pics'), (-2.08603, 'ber_ord'), (-91.9528, 'loc_ballincollig'), (-20.8226, 'loc_bishopstown'), (25.0604, 'loc_blackrock'), (-105.536, 'loc_carrigaline'), (10.9233, 'loc_douglas'), (-5.09927, 'loc_glasheen'), (0.0, 'loc_grange'), (64.2449, 'loc_model-farm-road'), (-78.8662, 'loc_wilton'), (32.0272, 'typ_Detached House'), (-140.174, 'typ_End of Terrace House'), (-98.7098, 'typ_Semi-Detached House'), (-180.49, 'typ_Terraced House'), (-144.111, 'typ_Townhouse')]

In [108]:
test_x = test.drop(['listing_id','location','address','property_type','ber','cost'], axis=1)
preds = xgr.predict(test_x)
test.cost - preds
rmse = np.sqrt(mean_squared_error(test.cost, preds))
print("RMSE: %f" % (rmse))
print("MSE: ", mean_squared_error(test.cost, preds))
print("Mean Absolute Error: %f" % mean_absolute_error(test.cost,preds))
print("R2: ", r2_score(test.cost,preds))

RMSE: 141.299568
MSE:  19965.5678408953
Mean Absolute Error: 68.070692
R2:  0.5988091522231868

In [109]:
preds

array([ 306.20236,  265.52985,  300.0657 ,  527.94464,  858.39874,
        614.731  ,  456.6741 ,  248.65477,  617.45416,  431.9256 ,
        234.46848,  232.03343, 1056.0847 ,  319.13947,  300.76166,
        173.55968,  404.37714,  395.56308,  274.69763,  275.08752,
        222.91249,  260.2737 ,  252.50284,  337.91858,  667.2166 ,
        345.7829 ,  577.06537,  413.93713,  343.91183,  185.63402,
        299.37286,  398.5028 ,  849.0294 ,  254.42361,  249.21916,
        393.53906,  507.78885,  311.68027,  320.41574,  416.7916 ,
        326.72324,  254.6385 ,  531.0286 ,  185.41919,  381.31348],
      dtype=float32)

In [110]:
test2 = test.copy()
test2['preds'] = preds

In [111]:
test2[['beds','bathrooms','num_pics','cost','preds']]

     beds  bathrooms  num_pics    cost        preds
157     3          2        21   430.0   306.202362
417     3          1        48   250.0   265.529846
166     3          1        22   300.0   300.065704
424     4          2        16   565.0   527.944641
34      4          4        31   670.0   858.398743
204     5          3        27   540.0   614.731018
160     4          2        12   449.0   456.674103
129     3          2        16   255.0   248.654770
155     5          3        27   540.0   617.454163
46      4          4        14   310.0   431.925598
70      3          1         9   260.0   234.468475
19      2          1        12   195.0   232.033432
53      6          4        24   995.0  1056.084717
134     4          3        22   350.0   319.139465
67      4          0        22   499.0   300.761658
87      3          1         8   175.0   173.559677
154     4          2        11   455.0   404.377136
20      4          2        10   390.0   395.563080
115     3          2        20   235.0   274.697632
29      3          1        18   270.0   275.087524
195     3          1        10   220.0   222.912491
51      3          2        15   370.0   260.273712
482     4          1        12   250.0   252.502838
78      4          3        42   440.0   337.918579
187     4          3        17   595.0   667.216614
66      4          3        45   415.0   345.782898
141     6          5        30  1400.0   577.065369
146     4          3        12   330.0   413.937134
203     3          1        17   375.0   343.911835
133     3          1         5   150.0   185.634018
26      3          3        19   275.0   299.372864
149     5          2        20   349.0   398.502808
189     6          4        22   865.0   849.029419
8       3          1        10   375.0   254.423615
510     3          2        16   265.0   249.219162
207     3          3         9   425.0   393.539062
147     4          2        17   395.0   507.788849
169     3          2        11   320.0   311.680267
97      5          3        69   440.0   320.415741
196     8          5        16   465.0   416.791595
168     4          1        23   315.0   326.723236
128     3          1        13   245.0   254.638504
165     4          3        20   550.0   531.028625
614     3          1        10   220.0   185.419189
152     4          1        21   380.0   381.313477

In [102]:
df.iloc[[87]]

,listing_id,location,address,beds,bathrooms,cost,num_pics,property_type,ber,ber_ord,...,loc_douglas,loc_glasheen,loc_grange,loc_model-farm-road,loc_wilton,typ_Detached House,typ_End of Terrace House,typ_Semi-Detached House,typ_Terraced House,typ_Townhouse
90,2551201,carrigaline,39 Rosebay Drive| Forest Hill| Carrigaline| Co...,3,3,335.0,18,Semi-Detached House,B3,3,...,0,0,0,0,0,0,0,1,0,0

## Let's Try Cross-Validation

In [24]:
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor

param_distributions = {
    'n_estimators': randint(50, 500),
    'max_depth': randint(1, 5)
}
search = RandomizedSearchCV(
    estimator=XGBRegressor(n_jobs=-1, random_state=42),
    param_distributions=param_distributions,
    n_iter=50,#picking 50 candidates
    scoring='neg_mean_absolute_error',
    n_jobs=8,
    cv=3,#three fold cross-validation
    verbose=10,#the higher the more messages
    return_train_score=True
  )

x = df.drop(['listing_id','location','address','property_type','ber','cost'], axis=1)
y = df.cost

search.fit(x, y)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   2 tasks      | elapsed:    3.2s
[Parallel(n_jobs=8)]: Done   9 tasks      | elapsed:    3.4s
[Parallel(n_jobs=8)]: Done  16 tasks      | elapsed:    3.5s
[Parallel(n_jobs=8)]: Done  25 tasks      | elapsed:    3.6s
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    3.7s
[Parallel(n_jobs=8)]: Done  45 tasks      | elapsed:    3.8s
[Parallel(n_jobs=8)]: Batch computation too fast (0.1910s.) Setting batch_size=2.
[Parallel(n_jobs=8)]: Done  56 tasks      | elapsed:    3.8s
[Parallel(n_jobs=8)]: Batch computation too fast (0.1002s.) Setting batch_size=6.
[Parallel(n_jobs=8)]: Done  74 tasks      | elapsed:    4.0s
[Parallel(n_jobs=8)]: Done 150 out of 150 | elapsed:    4.5s finished
//anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_con...
                                          validate_parameters=None,
                                          verbosity=None),
                   iid='warn', n_iter=50, n_jobs=8,
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1c20379198>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1c200d8fd0>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='neg_mean_absolute_error',
                   verbose=10)

In [25]:
search.best_score_

-91.16904659928947

In [28]:
from pdpbox.pdp import pdp_isolate, pdp_plot

feature = 'sub_grade'
isolated = pdp_isolate(
 model=best,
 dataset=x,
 model_features=x.columns,
 feature=feature
)
pdp_plot(isolated, feature_name=feature);

NameError: name 'best' is not defined